<!-- <app-navbar></app-navbar> -->
<section class="head">
  <h2><span class="sumi">My Journey</span></h2>
  <p>
    Hello! I'm <span class="sumi">Sumaira Farooq</span>, a passionate developer with a knack for creating elegant and efficient solutions. I love coding, designing, and bringing ideas to life.
  </p>
</section>

<section class="main">
  <div class="mapWrapper">
    <div class="row">
      <div class="itemBar">
        <div class="itemInfo">🧬 Spawned in Chandigarh</div>
        <div class="itemDate">June 2010</div>
      </div>
      <div class="itemBar">
        <div class="itemInfo">💻Completed BTech</div>
        <div class="itemDate">2013</div>
      </div>
      <div class="itemBar">
        <div class="itemInfo">👩‍💻Completed MTech</div>
        <div class="itemDate">2016</div>
      </div>
    </div>
    <div class="row">
      <div class="itemBar">
        <div class="itemInfo">📄Teaching profession till.</div>
        <div class="itemDate">2018</div>
      </div>
      <div class="itemBar">
        <div class="itemInfo">👩‍💻Began journey in software design</div>
        <div class="itemDate">2019</div>
      </div>
      <div class="itemBar">
        <div class="itemInfo">💻 Started profession As WP Developer</div>
        <div class="itemDate">2020</div>
      </div>
    </div>
    <div class="row">
      <div class="itemBar">
        <div class="itemInfo">📄Employed and learned coding</div>
        <div class="itemDate">2022</div>
      </div>
      <div class="itemBar">
        <div class="itemInfo">🌌CDAC Mohali Entrance</div>
        <div class="itemDate">March 2022</div>
      </div>
      <div class="itemBar">
        <div class="itemInfo">🧑‍💻First Cyber project IR (Incident Response)</div>
        <div class="itemDate">2022</div>
      </div>
    </div>
    <div class="row">
      <div class="itemBar">
        <div class="itemInfo">🎯What I'm up to these days!</div>
        <div class="itemDate">TODAY</div>
      </div>
      <div class="itemBar">
        <div class="itemInfo">💁Project Engineer</div>
        <div class="itemDate">Feb 2023</div>
      </div>
      <div class="itemBar">
        <div class="itemInfo">🏹Full Stack Developer</div>
        <div class="itemDate">Jan 2024</div>
      </div>
    </div>
  </div>
</section>
