<app-navbar></app-navbar>
<section class="main">
<h1><span class="sumi1">About Sumaira Farooq</span></h1>
<h6>Well-qualified Full Stack Developer
  familiar with wide range of programming
  utilities and languages. Knowledgeable of
  backend and frontend development
  requirements. Handles any part of
  process with ease. Collaborative team
  player with excellent technical abilities
  offering 4years of related experience.
  Software development professional with
  experience in developing and designing
  web applications using HTML, CSS,
  JavaScript, Angular, Node.js. Adept at
  developing and deploying complex
  backend systems, web services and
  databases.</h6>
<div class="main">
    <div class="d1">
       
      <div class="experience-text d1">
        <h1>3+ YEARS OF EXPERIENCE IN  <span class="sumi">Web Development</span></h1>
      </div>
      
    </div>
    <div class="d2"></div>
    <div class="d3">
      <div class="experience-tags">
        <div class="tag">HTML</div>
        <div class="tag">CSS</div>
        <div class="tag">Javascript</div>
        <div class="tag">Angular</div>
        <div class="tag">NodeJS</div>
        <div class="tag">MySql</div>
        <div class="tag">Linux</div>
        <div class="tag">Elasticsearch</div>
        <div class="tag">GIT</div>
    </div>
    </div>
    <div class="d4"></div>
</div>
</section>