nav {
    background-color: #023A6B;
    padding: 1em;
  }
  .sumi{
    font-family: 'MyFont';
    color: #47C6F3;
    font-weight: 400;
    font-size: xx-large;
   padding: 10px;
   letter-spacing: 0.1cap;
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav ul li {
    margin: 0 1em;
  }
  
  nav ul li a {
    color: #47C6F3;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
  }
  
  p {
    font-size: 1.2em;
  }
  