.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #023A6B;
  color: #4DE3E4;
  font-family: 'MyFont';
  padding: 20px; 
  box-sizing: border-box;
  text-align: center; 
}

.header {
  display: flex;
  align-items: center;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  flex-wrap: wrap; 
  justify-content: center; 
}

.logo-part {
  margin-right: 10px; 
  font-size: 60px;
}

.header img {
  max-width: 100%;
  height: 250px;
  width: 250px; /* Adjust size for smaller screens */
  margin-top: 10px; /* Margin for smaller screens */
}

.loading-text {
  margin-top: 20px;
  font-size: 1.5em;
  text-align: center;
  font-size: 30px;
}

.loader-line {
  width: 80%;
  max-width: 1000px; /* Ensures the loader does not exceed container width */
  height: 4px;
  background: #4DE3E4;
  margin-top: 10px;
  animation: loading 2s infinite;
}

@keyframes loading {
  0% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}

@media (max-width: 768px) {
  .header {
    font-size: 1.5em;
  }

  .loading-text {
    font-size: 1.25em;
  }

  .loader-line {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .header {
    font-size: 1.2em;
  }

  .loading-text {
    font-size: 1em;
  }

  .loader-line {
    width: 95%;
  }

  .header img {
    width: 120px; 
    margin-top: 5px; 
  }
}
