.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
  color: #1995AD;
  font-family: 'MyFont';
}

.logo {
  font-size: 48px;
  font-weight: bold;
}

.logo-part {
  display: inline-block;
}

.loading-text {
  margin-top: 20px;
  font-size: xx-large;
  align-items: center !important;
  margin-left: 20px;
  margin-top: 10px;
}

.loader-line {
  width: 1000px;
  height: 4px;
  background: #A1D6E2;
  margin-bottom: 10px;
  animation: loading 2s infinite;
}

@keyframes loading {
  0% { transform: scaleX(0); }
  100% { transform: scaleX(1); }
}
