<app-navbar></app-navbar>

<div class="home-container">
  <header class="hero">
    <span class="sumi">Welcome to My Portfolio</span>
    <p>Discover my work and projects</p>
  </header>
  <app-about></app-about>
  <div class="main">
    <div class="d1">
      <div class="experience-text d1">
        <h1>3+ YEARS OF EXPERIENCE IN <span class="sumi">Web Development</span></h1>
      </div>
    </div>
    <div class="d2"></div>
    <div class="d3">
      <div class="experience-tags">
        <div class="tag">HTML</div> 
        <div class="tag">CSS</div>
        <div class="tag">Javascript</div>
        <div class="tag">Angular</div>
        <div class="tag">NodeJS</div>
        <div class="tag">MySql</div>
        <div class="tag">Linux</div>
        <div class="tag">Elasticsearch</div>
        <div class="tag">GIT</div>
      </div>
    </div>
    <div class="d4"></div>
  </div>
  <app-contact></app-contact>
  <app-download id="resume"></app-download>
</div>