.home-container {
    text-align: center;
    padding: 20px;
  }
  
  .hero {
    background-color: #023A6B;
    padding: 40px 20px;
    margin-bottom: 20px;
  }
  
  .hero h1 {
    font-size: 3em;
    margin: 0;
    color: #4DE3E4;
  }
  
  .hero p {
    font-size: 2em;
    color: #6c757d;
  }
  
  .introduction {
    margin: 40px 0;
  }
  
  .introduction h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #343a40;
  }
  
  .introduction p {
    font-size: 1.2em;
    color: #6c757d;
  }
  
  .portfolio-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card h3 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
    color: #343a40;
  }
  
  .card p {
    font-size: 1em;
    color: #6c757d;
  }
  
  .card .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .card .btn:hover {
    background-color: #0056b3;
  }
  .sumi{
    font-family: 'MyFont';
    color: #47C6F3;
    font-weight: 400;
    font-size: 40px;
    background-color: transparent;
  }
  .main {
    height: 75vh;
    width: 97vw;
    position: relative;
    background-color: #8ccae0;
  }
  .d1 {
    position: absolute;
    background-image: url('/assets/hello.jpg');
     background-size: 2200px 1000px;
  
    height: 25vh;
    width: 15vw;
  
    background-position: 0 50%;
    color: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    animation: dd1 10s 1, dd12 10s 1;
    animation-delay: 4s, 14s;
  }
    
    .experience-text h1 {
      font-size: 2.5rem;
      font-weight: bold;
      margin: 0;
      background-color: transparent;
      color: #B6C3CE;
    }

.experience-tags {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 50px;
    background-color: transparent;
}

.tag {
    background-color: #8ccae0;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    color: #00447A;
    cursor: pointer;
    animation: bounce 2s infinite;
}

.tag:nth-child(odd) {
    animation-delay: 0.5s;
}

.tag:hover {
    background-color: #003366;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


    
  .d2 {
    position: absolute;
    background-image:  url('/assets/hello.jpg');
    background-size: 2700px 1500px;
  
    height: 40vh;
    width: 25vw;
  
    background-position: -10vw 50%;
    left: 10vw;
  
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd2 10s 2;
    animation-delay: 3s;
  }
  .d3 {
    position: absolute;
    background-image: url('/assets/hello.jpg');
    background-size: 2700px 1500px;
    overflow: hidden;
  
    height: 70vh;
    width: 35vw;
    left: 25vw;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.8);
    background-position: -35vw 50%;
  
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    animation: dd3 10s 2;
    animation-delay: 4s;
  }
  .d4 {
    position: absolute;
    overflow: hidden;
    background-image: url('/assets/hello.jpg');
    background-size: 2700px 1500px;
  
    height: 40vh;
    width: 35vw;
    left: 60vw;
    background-position: -70vw 50%;
  
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    animation: dd4 10s 2;
    animation-delay: 4s;
  }
  
  @keyframes dd1 {
    0% {
    }
    50% {
      width: 60vw;
      text-align: center;
      margin-top: 20px;
    }
  }
  @keyframes dd12 {
    0% {
    }
    50% {
      background-position: Calc(0vw - 40px) 50%;
    }
  }
  @keyframes dd2 {
    0% {
    }
    50% {
      background-position: Calc(-10vw - 40px) 50%;
    }
  }
  @keyframes dd3 {
    0% {
    }
    50% {
      background-position: Calc(-35vw - 40px) 50%;
    }
  }
  @keyframes dd4 {
    0% {
    }
    50% {
      background-position: Calc(-70vw - 40px) 50%;
    }
  }
  